*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  margin: 0 auto;
  background:linear-gradient(87deg,#6377e7,#8e6de7)!important
}

.app{
  padding: 20px 50px;
}

.all__news{
  margin: 90px auto !important;
  display: grid !important;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr)) !important;
  grid-gap:20px;
  justify-content: center !important;
}

.news{
  max-width: 500px;
  padding: 30px;
  
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.news__title{
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(126, 130, 134) !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.news__description{
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}
.news__author{
  margin-top: 10px;
  margin-right: 10px;
  color: purple;
}
.news__published{
  margin-right: 10px;
}

.news__source, .news__published{
  display: inline-block;
  margin-top: 10px;
  color: grey !important;
}

.qur{
  margin-top: 50px;
  text-align: center;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

